*
!README.md
!.gitignore

# Scripts
!.scripts
!.scripts/*

# Walpapers
!.wallpapers
!.wallpapers/*

# Wraper Hyprland
!.local
!.local/bin
!.local/bin/wrappedhl

# Configurations
!.config

# Dunst Configurations
!.config/dunst
!.config/dunst/*

# Hyprland Configurations
!.config/hypr
!.config/hypr/hyprland.conf

# ranger Configurations
!.config/ranger
!.config/ranger/*
!.config/ranger/plugins
!.config/ranger/plugins/*
!.config/ranger/plugins/ranger_devicons
!.config/ranger/plugins/ranger_devicons/*


# Rofi Configurations
!.config/rofi
!.config/rofi/global
!.config/rofi/global/*
!.config/rofi/powermenu
!.config/rofi/powermenu/*
!.config/rofi/scripts
!.config/rofi/scripts/*

# Viewnior Configurations
!.config/viewnior
!.config/viewnior/*

# Waybar Configurations
!.config/waybar
!.config/waybar/*
!.config/waybar/scripts
!.config/waybar/scripts/*

# Wezterm Configuration
!.config/wezterm
!.config/wezterm/*
!.config/wezterm/lua
!.config/wezterm/lua/*
!.config/wezterm/colors
!.config/wezterm/colors/*

